## List Indexing

In [6]:
my_1d_list = [1,2,3,4,5,6,7,8] # stores numbers 1-8 in a list through the variable name my_1d_list 

empty_list = [1, "Hello", 2.4, "Now"]

print(my_1d_list)

print(empty_list)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 'Hello', 2.4, 'Now']

In [7]:
my_1d_list = ["Suzannah", "Andy", "Georgina", "Satinder", "Ruth", "Irina", "Natasha", "Alison", ]

print (my_1d_list)

['Suzannah', 'Andy', 'Georgina', 'Satinder', 'Ruth', 'Irina', 'Natasha', 'Alison']

In Python index always starts a 0

In [8]:
my_1d_list[3]

'Satinder'

In [9]:
for i in range(len(my_1d_list)):
    print("The data at index location", i, "is:", my_1d_list[i])

The data at index location 0 is: Suzannah
The data at index location 1 is: Andy
The data at index location 2 is: Georgina
The data at index location 3 is: Satinder
The data at index location 4 is: Ruth
The data at index location 5 is: Irina
The data at index location 6 is: Natasha
The data at index location 7 is: Alison

In [10]:
my_1d_list[2]

'Georgina'

In [11]:
print(len(my_1d_list))

8

In [12]:
my_1d_list[2:8]

['Georgina', 'Satinder', 'Ruth', 'Irina', 'Natasha', 'Alison']

## 2 Dimensional Lists <br>
2D Lists: Lists within a list <br>
to referece you use two [], first one is the row and the second is the column.

In [13]:
my_2d_list = [[1,2,3,4],
              [5,6,7,8],
              [9,10,11,12]
            ]
              
my_2d_list

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [14]:
for i in range(len(my_2d_list)):
    print("My list at value", i, "is:", my_2d_list[i])

My list at value 0 is: [1, 2, 3, 4]
My list at value 1 is: [5, 6, 7, 8]
My list at value 2 is: [9, 10, 11, 12]

In [15]:
len(my_2d_list[2]) #index / row 3 - the length of it

4

In [16]:
my_2d_list[2][3] # 3rd row 4th column

12

In [17]:
for row in range(len(my_2d_list)):
    for column in range(len(my_2d_list[row])):
        print("My list at row", row, "and column", column, "is:", my_2d_list[row][column])

My list at row 0 and column 0 is: 1
My list at row 0 and column 1 is: 2
My list at row 0 and column 2 is: 3
My list at row 0 and column 3 is: 4
My list at row 1 and column 0 is: 5
My list at row 1 and column 1 is: 6
My list at row 1 and column 2 is: 7
My list at row 1 and column 3 is: 8
My list at row 2 and column 0 is: 9
My list at row 2 and column 1 is: 10
My list at row 2 and column 2 is: 11
My list at row 2 and column 3 is: 12

In [19]:
my_2d_list[1][3]  #index/row 2 and colum 4

8

## String Handling

In [ ]:
text = "example1"

In [ ]:
text[-1]

In [ ]:
len(text)

In [ ]:
for each_char in range(len(text)):
    print("My character at location", each_char, "is:", text[each_char])

In [ ]:
text[2:5]

In [ ]:
text[-3]

# Task 1 <br>

## Create a CSV file of 15 holiday destinations for a website
## 1. Add in a column of destinations
## 2. Add in a column that shows feedback score out of 10 for that destination
## 3. Add in a column for average hotel star rating for those destinations
## 4. Add in a column for number of all-inclusive hotels within each destination
## 5. Add in the most visited city in each destination

# [SEE GIT READ ME FOR REFERENCE PHOTO] <br>

In [ ]:


import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

if __name__ == '__main__':

# # Task 2 <br>
1. Importing my holidaysDestinations File. How many rows and columns are there in your file? - There are 14 rows and 5 column in my file.<br> 
2. Print row 3-8 ( using iloc/loc).
3. Find the mean number of all-inclusive hotels across all destinations.
4. Find the lowest scoring destination.
5. Find the highest scoring destination.
6. Find all the destinations where there are more than 50 all-inclusive hotels.
7. Filter the data by score above 8.
8. Filter the data score below 3 ( I need to know if these destinations should be removed or there is a problem)<br>

In [ ]:

    # Importing my holidaysDestinations File.
    holidayDestinations = pd.read_csv("D:\Documents\Tech Talent Academy Bootcamp\HolidayDestinations.csv")
    print("Holiday Destinations Data Set: \n ", holidayDestinations)

    # 1. How many rows and columns are there in your file? - There are 14 rows and 5 column in my file.
    print("Number of ros and columns in my dataset: ", holidayDestinations.shape)

    # 2. Print row 3-8 ( using iloc/loc).
    print("Observing rows 3 to 8: \n", holidayDestinations[2:8])

    # 3. Find the mean number of all-inclusive hotels across all destinations.
    print("The mean number of all hotels across all destinations is: ", holidayDestinations["Near_By_Hotels"].mean())

    # 4. Find the lowest scoring destination.
    print("The lowest scoring destination has a score of: ", holidayDestinations["Review_Score"].min())
    destination = holidayDestinations["Review_Score"].idxmin()
    print("The associated destination with the lowest score is: ", destination)
    print("The lowest Scoring Destination is: ", holidayDestinations.iloc[destination, 0])

    # 5. Find the highest scoring destination.
    print("The highest scoring destination has a score of: ", holidayDestinations["Review_Score"].max())
    destination2 = holidayDestinations["Review_Score"].idxmax()
    print("The associated destination with the highest score is: ", destination2)
    print("The highest Scoring Destination is: ", holidayDestinations.iloc[destination2, 0])

    # 6. Find all the destinations where there are more than 50 all-inclusive hotels.
    top50hotelsFilter = holidayDestinations["Near_By_Hotels"] >= 50
    destinationWithTop50Hotels = holidayDestinations[top50hotelsFilter]
    print("The destinations with the more than 50 hotels: \n", destinationWithTop50Hotels)

    # 7. Filter the data by score above 8.
    reviewScoreAbove8Filter = holidayDestinations["Review_Score"] >= 8
    allDataAboveAScoreOf8 = holidayDestinations[reviewScoreAbove8Filter]
    print("Filtered data with a score above 8: \n", allDataAboveAScoreOf8)

    # 8. Filter the data score below 3 ( I need to know if these destinations should be removed or there is a problem)
    reviewScoreBelow3Filter = holidayDestinations["Review_Score"] <= 3
    allDataBelowAScoreOf3 = holidayDestinations[reviewScoreBelow3Filter]
    print("Filtered data with a score below 3: \n", allDataBelowAScoreOf3)

## Extension Task

In [ ]:


# 1. Is there a correlation between number of all-inclusive hotels and score? [SEE GIT READ ME FOR GRAPH PHOTO]

    holidayDestinations.plot.scatter(x='Near_By_Hotels', y='Review_Score', color='black')
    plt.title("Hotels and Scores")
    plt.xlabel("Number of Hotels")
    plt.ylabel("Score")
    sns.regplot(x=holidayDestinations['Near_By_Hotels'], y=holidayDestinations['Review_Score'],
                scatter_kws={"color": "black"}, line_kws={"color": "red"})
    plt.show()
    print("The more hotels there were the higher the overall score was. As we can "
          "see with the positive correlation in the scatter graph.")

# TODO: Google how to do correlations in python pandas - DONE
# TODO: lmplot() creates a separate table from my initial inputted data. I dont want 2 graphs created only 1. - DONE
# TODO: How to change correlation line colour and plot point colours. - DONE
# TODO: How to underline the title? - IN PROGRESS

# 2. Create a data visualisation diagram to show destination and highest scores? [SEE GIT READ ME FOR GRAPH PHOTO]

    holidayDestinations.plot.barh(y='Review_Score', x='Holiday_Destinatinos', color='#77dd77')
    plt.title("Holiday Destinations and their Scores")
    plt.xlabel("Review Score")
    plt.ylabel("Holiday Destinations")
    plt.tight_layout()
    plt.show()

#-------------------------TERMINAL OUTPUT----------------------------#

# Holiday Destinations Data Set:
#           Holiday_Destinatinos  Review_Score  ...  Near_By_Hotels  Most_Visited_Cities
# 0             United Kingdom             8  ...             104               London
# 1                      Japan            10  ...              78                Tokyo
# 2   United States of America             6  ...              89             New York
# 3                      India             7  ...              21               Mumbai
# 4                  Australia             9  ...              32             Canberra
# 5                      China             7  ...              14            Hong Kong
# 6                      Italy             8  ...              67                 Rome
# 7                       Bali             8  ...              46             Denpasar
# 8                   Thailand             7  ...              22              Bangkok
# 9            The Netherlands             9  ...              16           Amsterdam
# 10               North Korea             3  ...               2            Pyongyang
# 11                     Egypt             7  ...              13                Cairo
# 12                   Ireland             4  ...               9               Dublin
# 13                    France             6  ...              74                Paris
#
# [14 rows x 5 columns]
# Number of ros and columns in my dataset:  (14, 5)
# Observing rows 3 to 8:
#         Holiday_Destinatinos  Review_Score  ...  Near_By_Hotels  Most_Visited_Cities
# 2  United States of America             6  ...              89             New York
# 3                     India             7  ...              21               Mumbai
# 4                 Australia             9  ...              32             Canberra
# 5                     China             7  ...              14            Hong Kong
# 6                     Italy             8  ...              67                 Rome
# 7                      Bali             8  ...              46             Denpasar
#
# [6 rows x 5 columns]
# The mean number of all hotels across all destinations is:  41.92857142857143
# The lowest scoring destination has a score of:  3
# The associated destination with the lowest score is:  10
# The lowest Scoring Destination is:  North Korea
# The highest scoring destination has a score of:  10
# The associated destination with the highest score is:  1
# The highest Scoring Destination is:  Japan
# The destinations with the more than 50 hotels:
#          Holiday_Destinatinos  Review_Score  ...  Near_By_Hotels  Most_Visited_Cities
# 0             United Kingdom             8  ...             104               London
# 1                      Japan            10  ...              78                Tokyo
# 2   United States of America             6  ...              89             New York
# 6                      Italy             8  ...              67                 Rome
# 13                    France             6  ...              74                Paris
#
# [5 rows x 5 columns]
# Filtered data with a score above 8:
#    Holiday_Destinatinos  Review_Score  ...  Near_By_Hotels  Most_Visited_Cities
# 0       United Kingdom             8  ...             104               London
# 1                Japan            10  ...              78                Tokyo
# 4            Australia             9  ...              32             Canberra
# 6                Italy             8  ...              67                 Rome
# 7                 Bali             8  ...              46             Denpasar
# 9      The Netherlands             9  ...              16           Amsterdam
#
# [6 rows x 5 columns]
# Filtered data with a score below 3:
#     Holiday_Destinatinos  Review_Score  ...  Near_By_Hotels  Most_Visited_Cities
# 10          North Korea             3  ...               2            Pyongyang
#
# [1 rows x 5 columns]
# The more hotels there were the higher the overall score was. As we can see with the positive correlation in the scatter graph.
#
# Process finished with exit code 0